@model UserManagement.Web.Models.LogEntries.LogListItemViewModel


<h2>Log Details</h2>

<div>
    <p><strong>Timestamp:</strong> @Model.Timestamp</p>
    <p><strong>User ID:</strong> @Model.UserId</p>
    <p><strong>Log Event:</strong> @Model.LogEvent</p>
    <p><strong>Severity:</strong> @Model.Severity</p>
    <p><strong>Message:</strong> @Model.Msg</p>
    <p><strong>Action Name:</strong> @Model.ActionName</p>
    <p><strong>Span ID:</strong> @Model.SpanId</p>
    <p><strong>Trace ID:</strong> @Model.TraceId</p>
</div>
